body {
  margin: 0;
}

ng-map {
  width:100%;
  height:100%;
  position: absolute;
}

.pokemonview {
  width: 180px!important;
}

.pokemonlabel {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 100px;
}

.caught {
  cursor: pointer;
  border: 0; 
  background: transparent
}