body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
}

ng-map {
  width:100%;
  height:100%;
  position: absolute;
}

.pokemonview {
  width: 180px!important;
}

.pokemonlabel {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 100px;
}

.caught {
  cursor: pointer;
  border: 0; 
  outline: 0;
  background: transparent
}

.caught_text {
  color: #00aeff;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
  font-style: italic;
  font-size: 16px;
}